:root {
  --main-a: #feebca;
  --main-b: #f4cca8;
  --main-c: #dba38c;
  --main-d: #482217;
  --main-e: #4f4b30;
  --main-f: #908760;
}
.seccion-footer {
  background-color: var(--main-a);
  height: 493px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer{
    width: 100%;
}

@media (min-width: 690px) {
  .seccion-footer {
    height: 493px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo__img {
  width: 120px;
  height: 120px;
  display: block;
}
.footer__logo__img::selection {
  background: var(--main-f);
  color: #fff;
}


.footer__logo__derechos-reservados, .footer__logo__desarrollado-por {
  color: var(--main-d);
}
.footer__logo__derechos-reservados::selection {
  background: var(--main-f);
  color: #fff;
}

.footer__logo__desarrollado-por::selection {
  background: var(--main-f);
  color: #fff;
}
